$color-white:rgb(255,255,255);
$color-black:rgb(0,0,0);

$color-primary: rgb(234,234,23);

$bg-main: #fff;
$bg-screen: #fff;

$font-color1: #1A3B58;

$light1: #F65B2A;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
$font-poppins: 'Poppins', sans-serif;
